<head>
	<meta charset="utf-8">
	<script src="vendor/jquery-3.1.0.min.js"></script>
	<title>UAH Price</title>
	 <link rel="icon" type="image/png" href="icons/16x16.png" />
</head>

<body align="center">
	
	<div style="width: 60px; float: left;">
		<img id='pct' src="icons/48x48.png"></img>
	</div>
	
	<div style="width: 200px;" id="crs">
		<div style="font-weight: bold;" id="bank_name"></div>
		<div id="usd"></div>
		<div id="euro"></div>
	</div>

	<div><h1 id='swch' class="switchOn">ON</h1></div>

	<div><button style="width: 90%;">Add site</button></div>
	<br>

	<div style="height: 8px; font-size: 8px;">Designed by Max Nedelchev & Andrey Golubkov</div>


	<!-- <div>Converter mode: <button id="swch">AUTO</button></div> -->


	<script src="banks.js"></script>	
	<script src="settings.js"></script>
	<script src="helper.js"></script>
	<script src="popup.js"></script>
</body>

<style>

	.switchOn {
	
		text-shadow: 1px 1px 2px black, 0 0 25px green, 0 0 5px darkgreen;
}
	.switchOff {
	
		text-shadow: 1px 1px 2px black, 0 0 25px red, 0 0 5px darkred;
}

	#swch {
		color: white;
		cursor:pointer;
	}
</style>